@import "tailwindcss";

:root {
  font-family: 'JetBrainsMono Nerd Font Mono', monospace;
  margin: 0;
  padding: 0;
}

body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  color: white;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: rgb(100, 0, 123);
  background: radial-gradient(circle, rgba(100, 0, 123, 1) 0%, rgba(62, 20, 86, 1) 100%);
}

@layer components {
  .custom-button {
    font-size: 1.3em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.7;
  }

  .topping-span {
    font-size: 17px;
    margin-left: 10px;
    @apply opacity-70 transition-opacity;
  }

  .active-span {
    @apply font-bold relative opacity-100;
  }

  .active-span::before {
    content: '>';
    margin-right: 6px;
    position: relative;
    transform: scale(0.8, 1);
    display: inline-block;
  }

}
